@charset "utf-8";
@import url("openstreetbugs.css");

body { background-color: #ffffff; color: black; }

a img { border:none; }

#top_deprecation {
	position: absolute;
	top: 0; right: 0; bottom: -5em; left: 0;
        height: 5em;
        max-height: 5em;
        text-align: center;
	font-size: 0.9em;
        background-color: rgb(249, 216, 223);
}

#left {
	position: absolute;
	top: 5em; right: 0; bottom: 0; left: 0;
	padding: 0.5em;
	width: 15em;
	max-width: 15em;
	font-size: 0.9em;
}

h1 { font-size: 1.4em; }
h1, h3 { margin: 0; padding: 0; }

.warn { color: #ff0000; font-weight: bold; }

a:link, a:visited { color: #06f; text-decoration: none; }
a:hover { color: #f60; }


#linkbox { margin: .2em 0 .2em; }

#map {
	position: absolute;
	top: 5em; right: 0; bottom: 0; left: 15em;
	border: 1px solid black;
	background-color: #cbced5;
}

#introduction {
	font-size:small;
}

/* For some bizarre reason the slider image is having an top offset of 6px which
 * results in a displacement of the slider on the zoombar. Setting top to -6px 
 * solves this issue. However it should not be neccessary in the first place!
 */
img[src="http://openlayers.org/api/img/slider.png"]  { top: -6px; }

