#left {
  width: 20%;
}
html, body {
  height: 100%;
}
#map {
  left: 23%;
  width: 75%;
  height: 90%;
}
hr {
  width: 100px;
}

#ie6msg{border:3px solid #090; margin:8px 0; background:#cfc; color:#000;}
#ie6msg h4{margin:8px; padding:0;}
#ie6msg p{margin:8px; padding:0;}
#ie6msg p a.getie8{font-weight:bold; color:#006;}
#ie6msg p a.ie6expl{font-weight:normal; color:#006;}
